.desc-section {
	&.-reservation {
		@media (max-width: 768px) {
			padding: 24px 15px;
		}
	}
}

@media (max-width: 640px) {
	.article__header.article__header--page.two-thirds-height {
		height: 50%;
	}


}





// Facilities content
@media (max-width: 640px) {
	.faciimg-wrapper .faciitem {
		margin-top: 30px;
		text-align: left;
	}
	.faciimg-wrapper .faci-img {
		max-width: 100%;
		height: auto;
	}
	.faciimg-wrapper.-line2 {
		margin-top: 0;
	}
	.faci-img > .image {
		margin-bottom: 15px;
	}
	.text-tooltip {
		width: 100%;
		position: relative;
		display: block;
		top: auto !important;
		margin-left: 0;
		margin-top: 0;
		opacity: 1 !important;
		left: auto;
		float: left;
		margin-bottom: 0;
		transition: none !important;
		visibility: visible !important;
	}
	.explore-facilities {
		transition: none;
	    visibility: visible;
	    position: relative;
	    bottom: auto;
	    left: auto;
	    opacity: 1;
	}
}





// comming soon
#post-740-title {
	.text-floatmiddle {
    	line-height: 2em;
	}
	&.article__header--page.two-thirds-height .ct-wrapper .inner {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}





// mail us
@media (max-width: 640px) {

	.desc-section.-findus .ct-wrapper {
		display: block;
	}

	.desc-section.-findus {
    	padding-top: 0;
	}
	.switch-content-wrapper .close {
		top: auto;
		right: 10px;
	}
	.social-gang > li {
	    margin-left: 0;
	    margin-right: 0;
	}
}
