// ct-wrapper
.ct-wrapper {
	display: table;
	width: 100%;

	> .inner {
		margin-bottom: 30px;
		@media (min-width: 768px) {
			display: table-cell;
			width: 50%;
			position: relative;
			vertical-align: top;
		}
	}
	> .inner.-middle {
		@media (min-width: 768px) {
			vertical-align: middle;
		}
	}
	> .inner.-left {
		@media (max-width: 767px) {
			float: left;
		}
		@media (min-width: 768px) {
			padding-right: 25px;
		}
		@media (min-width: 992px) {
			p {
				padding-left: 200px;
			}
		}
	}
	> .inner.-right {
		@media (max-width: 767px) {
			float: left;
		}
		@media (min-width: 768px) {
			padding-left: 25px;
		}
		@media (min-width: 992px) {
			p {
				padding-right: 200px;
			}
		}
	}
	> .inner.-center {
		width: 100%;
	}

	> .inner > h3 {
		margin-bottom: 20px;
	}
	> .inner > p {
		margin-bottom: 30px;
	}
}

.inner-wrapper {

	> .btn.-keepright {
		@media (min-width: 768px) {
			position: absolute;
    		bottom: 0;
    		right: 25px;
    	}
	}

	> .btn.-keepleft {
		position: absolute;
    	bottom: 0;
    	left: 25px;
	}
}

// desc-section
.desc-section {
	display: block;
    overflow: hidden;
    padding: 100px 50px;
	margin-bottom: 50px;
	&.-facilities {
		height: auto;
		padding: 0 15px;
		@media (min-width: 992px) {
			padding: 100px 50px 50px 50px;
		}
	}
	&.-reservation {
		max-width: 1148px;
		margin: 0 auto 50px auto;
		height: auto;
		@media (max-width: 768px) {
			padding: 0 15px;
		}
	}
	&.-findus {
    	max-width: 1280px;
		height: auto;
    	margin: 0 auto 50px auto;
	    padding: 100px 50px 50px 50px;
	}
}

.reservation-content {
	display: block;
}

.findus-content {
	min-height: 300px;
	h3 {
		margin-bottom: 30px;
	}
}

.button-box {
	text-align: justify;
	max-width: 310px;
	margin: 60px auto 0 auto;
	> .btn {
		width: 120px;
		float: left;
		margin: 0;
	}
	> .btn + .btn {
		float: right;
	}
}
