.modal-content {
	input.form-text,
	textarea.form-textarea {
		border-color: $color-1;
		background-color: $color-1;
		border-radius: 0;
	}

	.form-actions {
		width: 100%;
		overflow: hidden;
		margin-top: 30px;
	}

	.form-submit,
	input[type="submit"] {
		
		float: right;
		width: 200px;

		background-color: $color-2;
		border: 1px solid $color-2;
		color: $color-7;
		border-radius: 0;
		padding: 8px 15px 5px 15px;
		&:hover,
		&:active,
		&:focus {
			color: $color-7;
			background-color: darken($color-2, 15%);
		}
	}	

	.form-item-mail {
		width: 50%;
		float: left;
		padding-right: 15px;
		@media (max-width: 991px) {
			width: 100%;
			padding-right: 0;
			margin-bottom: 15px;
		}
	}
	.form-item-message {
		width: 50%;
		float: right;
		padding-left: 15px;
		@media (max-width: 991px) {
			width: 100%;
			padding-left: 0;
		}
	}
}
