.faciimg-wrapper {
	@media (min-width: 769px) {
		max-width: 400px;
	}

	.faciimg {
		width: 33.33%;
		height: 120px;
		text-align: center;
		vertical-align: middle;
		float: left;
		> img {
			display: inline-block;
		}
	}
}

$path: "/sites/all/themes/parallax_zymphonies_theme/images";
.faciimg {
	position: relative;
	margin-bottom: 8px;
	.text-tooltip {
		display: none;
		position: absolute;
		bottom: 7px;
		width: 120px;
		left: 50%;
		margin-left: -60px;
	}
	&:hover {
		cursor: pointer;
	}
	&:hover .text-tooltip {
		display: block;
	}

	&.-img01 {
		background: url(#{$path}/faci-01.png) transparent no-repeat center top;
	}
	&.-img01:hover {
		background: url(#{$path}/faci-01-hover.png) transparent no-repeat center  top;
	}

	&.-img02 {
		background: url(#{$path}/faci-02.png) transparent no-repeat center top;
	}
	&.-img02:hover {
		background: url(#{$path}/faci-02-hover.png) transparent no-repeat center top;
	}

	&.-img03 {
		background: url(#{$path}/faci-03.png) transparent no-repeat center 13px;
	}
	&.-img03:hover {
		background: url(#{$path}/faci-03-hover.png) transparent no-repeat center 13px;
	}

	&.-img04 {
		background: url(#{$path}/faci-04.png) transparent no-repeat center top;
	}
	&.-img04:hover {
		background: url(#{$path}/faci-04-hover.png) transparent no-repeat center top;
	}

	&.-img05 {
		background: url(#{$path}/faci-05.png) transparent no-repeat center top;
	}
	&.-img05:hover {
		background: url(#{$path}/faci-05-hover.png) transparent no-repeat center top;
	}

	&.-img06 {
		background: url(#{$path}/faci-06.png) transparent no-repeat center top;
	}
	&.-img06:hover {
		background: url(#{$path}/faci-06-hover.png) transparent no-repeat center top;
	}

	&.-img06 {
		background: url(#{$path}/faci-06.png) transparent no-repeat center top;
	}
	&.-img06:hover {
		background: url(#{$path}/faci-06-hover.png) transparent no-repeat center top;
	}

	&.-img07 {
		background: url(#{$path}/faci-07.png) transparent no-repeat center 15px;
	}
	&.-img07:hover {
		background: url(#{$path}/faci-07-hover.png) transparent no-repeat center 15px;
	}

	&.-img08 {
		background: url(#{$path}/faci-08.png) transparent no-repeat center 12px;
	}
	&.-img08:hover {
		background: url(#{$path}/faci-08-hover.png) transparent no-repeat center 12px;
	}

	&.-img09 {
		background: url(#{$path}/faci-09.png) transparent no-repeat center top;
	}
	&.-img09:hover {
		background: url(#{$path}/faci-09-hover.png) transparent no-repeat center top;
	}

	&.-img10 {
		background: url(#{$path}/faci-10.png) transparent no-repeat center top;
	}
	&.-img10:hover {
		background: url(#{$path}/faci-10-hover.png) transparent no-repeat center top;
	}

	&.-img11 {
		background: url(#{$path}/faci-11.png) transparent no-repeat center top;
	}
	&.-img11:hover {
		background: url(#{$path}/faci-11-hover.png) transparent no-repeat center top;
	}

	&.-img12 {
		background: url(#{$path}/faci-12.png) transparent no-repeat center top;
	}
	&.-img12:hover {
		background: url(#{$path}/faci-12-hover.png) transparent no-repeat center top;
	}

}