.footer {
	background-color: $color-6;
	border-top: 5px solid $color-2;
	padding: 50px 0;

	text-align: center;

	p {
		color: #aaa;
		margin-top: 30px;
		margin-bottom: 0;
	}

	a {
		color: #aaa;
	}
	a:hover {
		color: $color-3;
	}
}

ul.list-unstyled {
	list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
}

.footer-list {
	display: inline-block;
	vertical-align: top;
	padding: 0 30px;

	h4,
	ul > li {
		text-align: left;
	}

	h4 {
		color: #888;
	}
	ul > li a {
		color: #aaa;
	}
	ul > li a:hover {
		color: $color-3;
	}
}