.footer {
	background-color: $color-6;
	border-top: 5px solid $color-2;
	padding: 50px 0;

	text-align: center;

	p {
		color: #aaa;
		margin-top: 30px;
		margin-bottom: 0;
	}

	a {
		color: #aaa;
	}
	a:hover {
		color: $color-3;
	}
}

ul.list-unstyled {
	list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
}

.footer-listwrapper {
	display: block;
	max-width: 625px;
	width: 100%;
	margin: 0 auto;
    overflow: hidden;
}

.footer-list {
	display: block;
	vertical-align: top;
	padding: 0 30px;
	float: left;
	width: 25%;

	h4,
	ul > li {
		text-align: left;
    	line-height: 16px;
	}

	h4 {
		color: #555;
		margin-bottom: 10px;
	}
	ul > li a {
		color: #aaa;
		font-size: 12px;
	}
	ul > li a:hover {
		color: $color-3;
	}
}
.booking-link {
	display: block;
	max-width: 960px;
	width: 100%;
	margin: 0 auto 30px auto;

	ul > li {
		display: inline-block;
		// width: 33.33%;
		// margin: 0 40px;
	}
	ul > li > a {
		display: block;
		overflow: hidden;
		text-indent: -999em;
	}
	ul > li.agoda > a {
		background: url(../images/Agoda.png) transparent no-repeat center;
		background-size: contain;
		width: 120px;
		height: 48px;
		margin-right: 50px;
		&:hover {
			background: url(../images/Agoda-A.png) transparent no-repeat center;
			background-size: contain;
		}
	}
	ul > li.tripadvisor > a {
		background: url(../images/Trip.png) transparent no-repeat center;
		background-size: contain;
		width: 210px;
		height: 48px;
		margin-right: 50px;
		&:hover {
			background: url(../images/Trip-A.png) transparent no-repeat center;
			background-size: contain;
		}
	}
	ul > li.booking > a {
		background: url(../images/Booking.png) transparent no-repeat center;
		background-size: contain;
		width: 192px;
		height: 41px;
		margin-right: 50px;
		&:hover {
			background: url(../images/Booking-A.png) transparent no-repeat center;
			background-size: contain;
		}
	}
	ul > li.hostelworld > a {
		background: url(../images/Hostelworld.png) transparent no-repeat center;
		background-size: contain;
		width: 222px;
		height: 45px;
		&:hover {
			background: url(../images/Hostelworld-A.png) transparent no-repeat center;
			background-size: contain;
		}
	}
}
