.footer {
	background-color: $color-6;
	border-top: 5px solid $color-2;
	padding: 50px 0;

	text-align: center;

	p {
		color: #aaa;
		margin-top: 30px;
		margin-bottom: 0;
	}

	a {
		color: #aaa;
	}
	a:hover {
		color: $color-3;
	}
}

ul.list-unstyled {
	list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
}

.footer-listwrapper {
	display: block;
	max-width: 625px;
	width: 100%;
	margin: 0 auto;
    overflow: hidden;
}

.footer-list {
	display: block;
	vertical-align: top;
	padding: 0 30px;
	float: left;
	width: 25%;

	h4,
	ul > li {
		text-align: left;
	}

	h4 {
		color: #888;
	}
	ul > li a {
		color: #aaa;
	}
	ul > li a:hover {
		color: $color-3;
	}
}
.booking-link {
	display: block;
	max-width: 660px;
	width: 100%;
	margin: 0 auto 30px auto;

	ul > li {
		display: inline-block;
		// width: 33.33%;
		margin: 0 40px;
	}
	ul > li > a {
		display: block;
		overflow: hidden;
		text-indent: -999em;
		// background: url(../images/Booking.png) transparent no-repeat center;
		// background-size: contain;
	}
	ul > li.booking > a {
		background: url(../images/Booking.png) transparent no-repeat center;
		background-size: contain;
		width: 137px;
		height: 48px;
	}
	ul > li.agoda > a {
		background: url(../images/Agoda.png) transparent no-repeat center;
		background-size: contain;
		width: 95px;
		height: 48px;
	}
	ul > li.hostelworld > a {
		background: url(../images/Hostelworld.png) transparent no-repeat center;
		background-size: contain;
		width: 165px;
		height: 48px;
	}
}