// helper
._text-grey {
	color: $color-1;
	&:hover {
		color: $color-1;
	}
}
.text-bright {
	color: $color-4;
	&:hover {
		color: $color-4;
	}
}
._capital {
	text-transform: uppercase;
}
._text-center {
	text-align: center;
}
._text-right {
	@media (min-width: 769px) {
		text-align: right;
	}
}
._textcenter-768px {
	@media (max-width: 768px) {
		text-align: center;
	}
}
._pull-left {
	float: left;
}
._margin-right {
	margin-right: 30px !important;
}