/*
** lSAction default
*/

.lSAction {
    > a {
    	top: auto;
    	margin-top: 0;
    	background: url('../images/symbols.png') transparent no-repeat 0 0;
    	background-size: 174px;
    }
}

.lSSlideOuter.vertical .lSAction > a {
	height: 45px;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -35px;
}

/*
** lSAction image slide
*/

.slide-modal .group-slide {
    .lSSlideOuter .lSAction {
        position: absolute;
        width: 450px;
        height: 45px;
        top: 50%;
        margin-top: -15px;
        > a.lSPrev {
            left: 25px;
            height: 45px;
            background-position: -118px -65px;
        }
        > a.lSNext {
            right: 25px;
            height: 45px;
            background-position: -142px -5px;
        }
    }
}

#conditionModal {
    .lSSlideOuter .lSAction {
        height: 45px;
        position: relative;
        width: 250px;
        margin: 0 auto;
        margin-top: 40px;
        > a.lSPrev {
            left: 25px;
            height: 45px;
            background-position: -118px -65px;
        }
        > a.lSNext {
            right: 25px;
            height: 45px;
            background-position: -142px -5px;
        }
    }

    .lSPager {
        margin-top: -35px !important;
    }
    .lSPager.lSpg > li a {
    	cursor: pointer;
    	background-color: #222222;
        border-radius: 30px;
        display: inline-block;
        height: 8px;
        overflow: hidden;
        text-indent: -999em;
        width: 8px;
        position: relative;
        z-index: 99;
        -webkit-transition: all 0.5s linear 0s;
        transition: all 0.5s linear 0s;

    	background-color: $color-1;
    	width: 12px;
    	height: 12px;
    }
    .lSPager.lSpg > li.active a,
    .lSPager.lSpg > li:hover a {
    	background-color: $color-4;
    }

}

/*
** lSAction switch modal page
*/

.facilities-switch-page {
    position: relative;
    width: 150px;
    float: left;
    margin-left: 50px;
    > .lSAction > a {
        position: relative;
        width: 30px;
        height: 25px;
    }
	> .lSAction > .lSPrev {
		left: auto;
        float: left;
        background-position: 0 -137px;
	}
	> .lSAction > .lSNext {
		right: auto;
        float: right;
        background-position: -25px -185px;
	}
}

/*
** lSAction in slide-text
*/

// Code Here

/*
** lSPager in switch modal (facilities)
*/

.facilities-switch-page {
    .lSPager {
        display: block;
    }
    .lSPager.lSpg {
    	margin-left: 12px;
    	margin-top: 7px !important;
    	display: inline-block;
    }
    .lSPager.lSpg > li {
    	cursor: pointer;
        display: inline-block;
        padding: 0 5px;

    	padding: 0 8px;
    }
    .lSPager.lSpg > li a {
    	cursor: pointer;
    	background-color: #222222;
        border-radius: 30px;
        display: inline-block;
        height: 8px;
        overflow: hidden;
        text-indent: -999em;
        width: 8px;
        position: relative;
        z-index: 99;
        -webkit-transition: all 0.5s linear 0s;
        transition: all 0.5s linear 0s;

    	background-color: $color-1;
    	width: 12px;
    	height: 12px;
    }
    .lSPager.lSpg > li.active a,
    .lSPager.lSpg > li:hover a {
    	background-color: $color-4;
    }
}

/*
** Pager style (use in switch sub modal)
*/

.lSSlideOuter .lSPager.lSpg {
	line-height: 30px;
}
