.switch-content-wrapper {
    .close {
        position: absolute;
        top: -60px;
        right: -30px;
    }
}

.webform-client-form {
    position: relative;
}

.webform-component {
    &--name,
    &--email,
    &--subject {
        float: left;
        padding-right: 55%;
        margin-bottom: 0;
        margin-top: 10px;
        .form-text {
            padding: 3px;
        }
    }
    &--name {
        margin-top: 28px;
    }
    &--subject {
        margin-bottom: 15px;
    }

    &--description {
        width: 50%;
        height: 150px;
        position: absolute;
        top: 0;
        right: 0;
        .form-textarea {
            height: 170px;
        }
    }
}

.webform-submit.form-submit {
    width: auto;
    float: right;
    background-color: transparent;
    border: 2px solid #B4B4B4;
    padding: 8px 15px 5px 15px;
    color: #3E3E3E;

    @include btn-transition();
    &:hover {
        background-color: #B4B4B4;
    }
}

/*
** Social-gang
*/

.social-gang {
	margin-bottom: 30px !important;
	margin-top: 70px;
	> li {
		display: inline-block;
		padding: 0 10px;
		margin-left: 20px;
		margin-right: 20px;
        @media (min-width: 767px) and (max-width: 890px) {
            margin-left: 10px;
            margin-right: 10px;
        }
	}
	> li > a {
		display: block;
		width: 60px;
		height: 60px;
		overflow: hidden;
		background-size: 100% auto !important;
		&:hover {
			cursor: pointer;
		}

	}
	> li > a.facebook {
		background: url(#{$path}/Facebook.png) transparent no-repeat center;
		-webkit-transition: background-image 0.5s linear;
		transition: background-image 0.5s linear;
		&:hover {
			background: url(#{$path}/Facebook-A.png) transparent no-repeat center;
    		-webkit-transition: background-image 0.5s linear;
    		transition: background-image 0.5s linear;
		}
	}
	> li > a.instagram {
		background: url(#{$path}/Instagram.png) transparent no-repeat center;
		-webkit-transition: background-image 0.5s linear;
		transition: background-image 0.5s linear;
		&:hover {
			background: url(#{$path}/Instagram-A.png) transparent no-repeat center;
    		-webkit-transition: background-image 0.5s linear;
    		transition: background-image 0.5s linear;
		}
	}
	> li > a.line {
		background: url(#{$path}/Line.png) transparent no-repeat center;
		-webkit-transition: background-image 0.5s linear;
		transition: background-image 0.5s linear;
		&:hover {
			background: url(#{$path}/Line-A.png) transparent no-repeat center;
    		-webkit-transition: background-image 0.5s linear;
    		transition: background-image 0.5s linear;
		}
	}
}


.qr-code {
    display: inline-block;
    max-width: 250px;
}
