.modal-header {
	border-bottom: 0;
}
.modal-body {
	@media (min-width: 768px) {
		padding: 15px 15px 30px 0;	
	}
	padding: 15px;
	overflow: hidden;
}
.modal-content {
	background-color: $color-6;
	background-color: rgba(39, 39, 39, .93);
	border-radius: 0;

	color: $color-5;

	overflow: hidden;

	button.close {
		color: $color-1;
		opacity: 1;
		&:hover {
			background-color: transparent;
		}
	}

	.btn-transparent {
		display: block;
		margin-top: 15px;
		max-width: 175px;
	}
}
.modaltitle-wrapper {
	margin-bottom: 10px;
}
.btn.btn-transparent._modaltitle {
	color: $color-5;
	max-width: 250px;
	margin-top: 0px;
	margin-bottom: 5px;
	&:hover,
	&:active,
	&:focus,
	&.active {
		color: #FFFFFF;
		background-color: transparent;
		border: 1px solid $color-3;
	}	
}

.lSSlideOuter {
	@media (max-width: 768px) {
		margin-bottom: 30px;
	}
	@media (min-width: 769px) {
		width: 50%;
		float: left;
		//padding-right: 15px;
	}

	li > img {
		width: 100%;
	}
}
.lSSlideWrapper {
	overflow: visible;
	.lslide {
		//margin-right: 0 !important;
	}
}
.lSSlideOuter .lSPager.lSpg {
	line-height: 30px;
}
.lSAction > a {
	top: auto;
	margin-top: 0;
	background-image: url('../img/controls.svg');
}
.lSSlideOuter .lSPager.lSpg > li a {
	background-color: $color-1;
}
.lSSlideOuter .lSPager.lSpg > li.active a {
	background-color: $color-4;
}

.modal-description {
	@media (min-width: 769px) {
		width: 50%;
		float: right;
		padding-left: 30px;
	}
}