.modal-header {
	border-bottom: 0;
}

.modal-content {
	background-color: $color-6;
	background-color: rgba(39, 39, 39, .93);
	border-radius: 0;

	color: $color-1;

	overflow: hidden;

	button.close {
		color: $color-1;
		opacity: 1;
		&:hover {
			background-color: transparent;
		}
	}

	.btn-transparent {
		display: block;
		margin-top: 15px;
		max-width: 175px;
	}

	.title {
		display: none;
	}
}

.lSSlideOuter {
	@media (max-width: 768px) {
		margin-bottom: 30px;
	}
	@media (min-width: 769px) {
		width: 50%;
		float: left;
		padding-right: 15px;
	}

	li > img {
		width: 100%;
	}

}

.modal-description {
	@media (min-width: 769px) {
		width: 50%;
		float: right;
		padding-left: 15px;
	}
}