/************************\
	Color Template
\************************/
// text dark on white background
// btn border on dark background
$color-1: #3E3E3E;

// text light on white background
$color-whitebg: #CBCBCB;

// btn border on white background
// btn hover background on white background
$color-2: #B4B4B4;
.textLightWhiteBg {
	color: $color-2;
}

// orange color
$color-3: #ED932D;
$orange: $color-3;

// btn text on dark background
// text color on dark background
$color-4: #E1E2E5;

// btn orange text on dark background
// text in modal
$color-5: #AEAFB5;

// modal background
$color-6: #272727;

$color-7: #2B2A2F;

$text-imgsection: #666;


.small-text {
	font-size: 0.8em;
}
.text-huge {
	font-size: 3em;
	font-family: 'gotham_lightregular';
}

.text-imgsection {
	color: $text-imgsection;
}

.text-left {
	text-align: left;
}

.text-floatmiddle {
	line-height: 5em;
}

.text-modal {
	color: $color-5;
}

.text-bright {
	color: $color-4;
}

$imagePath: "/sites/all/themes/parallax_zymphonies_theme/images";

@mixin btn-transition() {
	transition: all 0.5s linear;
	&:hover {
		transition: all 0.5s linear;
	}
}
