@import "component/variables.scss";
@import "component/helper.scss";
@import "component/image-section.scss";
@import "component/content-section.scss";
@import "component/footer.scss";

// overwrite style1.css
.article__header.article__header--page.two-thirds-height {
    margin-top: -50px;
}

.menu-wrap {
	background-color: transparent;
	border-bottom: 0;
	text-align: center;
}

#main-menu {
	float: none;
	a {
		color: #FFFFFF;
	}
}

.menu-navigation-container {

}

// .article__parallax
.article__parallax {
	border-left: 0;
	border-right: 0;
}

// headline__description -since
.headline__description.-since {
	margin-top: 200px;
}


// btn
.btn.btn-transparent {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	border-radius: 0;
	padding: 8px 15px 5px 15px;
	color: $text-grey;
	&:hover, 
	&:active, 
	&:focus {
		background-color: #f1f1f1;
	}
}