/************************\
	Color Template
\************************/
.small-text {
  font-size: 0.8em; }

.text-huge {
  font-size: 3em; }

.text-imgsection {
  color: #666; }

.text-left {
  text-align: left; }

.text-floatmiddle {
  line-height: 5em; }

.text-modal {
  color: #AEAFB5; }

.text-bright {
  color: #E1E2E5; }

._text-grey {
  color: #3E3E3E; }
  ._text-grey:hover {
    color: #3E3E3E; }

.text-bright {
  color: #E1E2E5; }
  .text-bright:hover {
    color: #E1E2E5; }

._capital {
  text-transform: uppercase; }

._text-center {
  text-align: center; }

@media (min-width: 769px) {
  ._text-right {
    text-align: right; } }

@media (max-width: 768px) {
  ._textcenter-768px {
    text-align: center; } }

.article__header.-rooms {
  height: 450px; }

.article__header--page.two-thirds-height .ct-wrapper .inner {
  padding-bottom: 30px; }

.ct-wrapper {
  display: table;
  width: 100%; }
  .ct-wrapper > .inner {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .ct-wrapper > .inner {
        display: table-cell;
        width: 50%;
        position: relative;
        vertical-align: top; } }
  @media (max-width: 767px) {
    .ct-wrapper > .inner.-left {
      float: left; } }
  @media (min-width: 768px) {
    .ct-wrapper > .inner.-left {
      padding-right: 25px; } }
  @media (min-width: 992px) {
    .ct-wrapper > .inner.-left {
      padding-left: 200px; } }
  @media (max-width: 767px) {
    .ct-wrapper > .inner.-right {
      float: left; } }
  @media (min-width: 768px) {
    .ct-wrapper > .inner.-right {
      padding-left: 25px; } }
  @media (min-width: 992px) {
    .ct-wrapper > .inner.-right {
      padding-right: 200px; } }
  .ct-wrapper > .inner.-center {
    width: 100%; }
  .ct-wrapper > .inner > h3 {
    margin-bottom: 20px; }
  .ct-wrapper > .inner > p {
    margin-bottom: 30px; }

@media (min-width: 768px) {
  .inner-wrapper > .btn.-keepright {
    position: absolute;
    bottom: 0;
    right: 25px; } }
.inner-wrapper > .btn.-keepleft {
  position: absolute;
  bottom: 0;
  left: 25px; }

.desc-section {
  display: block;
  overflow: hidden;
  padding: 100px 50px;
  margin-bottom: 50px; }
  .desc-section.-facilities {
    height: auto; }
  .desc-section.-reservation {
    height: auto; }
  .desc-section.-findus {
    height: auto; }

.facilities-content {
  display: block;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px; }
  @media (min-width: 521px) and (max-width: 1200px) {
    .facilities-content {
      margin: 50px; } }
  @media (max-width: 520px) {
    .facilities-content {
      margin: 50px 15px; } }
  @media (max-width: 768px) {
    .facilities-content {
      padding: 50px 25px; } }
  @media (min-width: 992px) {
    .facilities-content {
      padding: 0 8.57143%; } }
  @media (max-width: 520px) {
    .facilities-content {
      padding: 25px 0; } }

.reservation-content {
  display: block; }

.findus-content h3 {
  margin-bottom: 30px; }

.overflow-box {
  overflow-y: scroll;
  margin-top: 25px;
  margin-bottom: 30px; }
  @media (min-width: 769px) {
    .overflow-box {
      height: 130px; } }
  .overflow-box.-modal {
    height: 190px; }
  .overflow-box._300px {
    height: 300px;
    margin-bottom: 0; }

.button-box {
  text-align: justify;
  max-width: 310px;
  margin: 60px auto 0 auto; }
  .button-box > .btn {
    width: 120px;
    float: left;
    margin: 0; }
  .button-box > .btn + .btn {
    float: right; }

.footer {
  background-color: #272727;
  border-top: 30px solid #B4B4B4;
  padding: 50px 0;
  text-align: center; }
  .footer p {
    color: #aaa;
    margin-top: 30px;
    margin-bottom: 0; }
  .footer a {
    color: #aaa; }
  .footer a:hover {
    color: #ED932D; }

ul.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0; }

.footer-list {
  display: inline-block;
  vertical-align: top;
  padding: 0 30px; }
  .footer-list h4,
  .footer-list ul > li {
    text-align: left; }
  .footer-list h4 {
    color: #888; }
  .footer-list ul > li a {
    color: #aaa; }
  .footer-list ul > li a:hover {
    color: #ED932D; }

.modal-content {
  border: 1px solid #3E3E3E; }
  .modal-content .close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999; }

.modal-header {
  border-bottom: 0; }

.modal-body {
  overflow: hidden; }
  .modal-body.slide-modal {
    padding: 60px 15px 15px 15px; }
    @media (min-width: 769px) {
      .modal-body.slide-modal {
        padding: 60px 30px 80px 0; } }
  .modal-body.text-modal {
    padding: 60px 15px 15px 15px; }
    @media (min-width: 769px) {
      .modal-body.text-modal {
        padding: 60px 100px 200px 100px; } }
  .modal-body.text-modal > h3 {
    margin-bottom: 15px; }
  .modal-body.textSlide-modal {
    padding: 60px 15px 15px 15px; }
    @media (min-width: 769px) {
      .modal-body.textSlide-modal {
        padding: 100px 100px 100px 100px; } }
  .modal-body.textSlide-modal > h2 {
    margin-bottom: 15px; }
  .modal-body.map-modal {
    padding: 60px 15px 15px 15px; }
    @media (min-width: 769px) {
      .modal-body.map-modal {
        padding: 100px 100px 100px 100px; } }
  .modal-body > .modal-label {
    margin-bottom: 100px; }

.slide-modal .modal-title {
  margin-bottom: 30px; }
  @media (min-width: 769px) {
    .slide-modal .modal-title {
      margin-left: 100px; } }

.textSlide-modal .lSSlideWrapper {
  padding-bottom: 30px; }
  @media (max-width: 768px) {
    .textSlide-modal .lSSlideWrapper {
      padding-bottom: 15px; } }
.textSlide-modal .lSAction {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 0; }
.textSlide-modal .lSPager {
  float: right;
  width: 250px; }
.textSlide-modal .btn.btn-transparent {
  margin-top: 15px; }
  @media (min-width: 769px) {
    .textSlide-modal .btn.btn-transparent {
      margin-top: -38px; } }

.modal-content {
  background-color: rgba(39, 39, 39, 0.93);
  border-radius: 0;
  color: #AEAFB5;
  overflow: hidden; }
  .modal-content button.close {
    color: #3E3E3E;
    opacity: 1; }
    .modal-content button.close:hover {
      background-color: transparent; }
  .modal-content .btn-transparent {
    display: block;
    margin-top: 15px;
    max-width: 175px; }

.modaltitle-wrapper {
  margin-bottom: 10px; }

.btn.btn-transparent._modaltitle {
  color: #AEAFB5;
  max-width: 250px;
  margin-top: 0px;
  margin-bottom: 5px; }
  .btn.btn-transparent._modaltitle:hover, .btn.btn-transparent._modaltitle:active, .btn.btn-transparent._modaltitle:focus, .btn.btn-transparent._modaltitle.active {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #ED932D; }

@media (max-width: 768px) {
  .slide-modal .lSSlideOuter {
    margin-bottom: 30px; } }
@media (min-width: 769px) {
  .slide-modal .lSSlideOuter {
    width: 50%;
    float: left; } }
.slide-modal .lSSlideOuter li > img {
  width: 100%;
  border-right: 1px solid #3E3E3E;
  border-top: 1px solid #3E3E3E;
  border-bottom: 1px solid #3E3E3E; }

.lSSlideWrapper {
  overflow: visible; }

.lSSlideOuter .lSPager.lSpg {
  line-height: 30px; }

.lSAction > a {
  top: auto;
  margin-top: 0;
  background-image: url("../img/controls.svg"); }

.lSSlideOuter .lSPager.lSpg > li {
  padding: 0 10px; }

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #3E3E3E; }

.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #E1E2E5; }

.slide-modal .lSAction > .lSNext {
  right: 120px; }
.slide-modal .lSAction > .lSPrev {
  left: 120px; }

.title-outsideSlider {
  margin-bottom: 20px; }
  @media (min-width: 769px) {
    .title-outsideSlider {
      padding-left: 100px; } }

.modal-description {
  margin-top: 30px; }
  @media (min-width: 769px) {
    .modal-description {
      width: 50%;
      float: right;
      padding-left: 30px; } }
  .modal-description .-cafe {
    margin-bottom: 60px; }

.modal-content input.form-text,
.modal-content textarea.form-textarea {
  border-color: #3E3E3E;
  background-color: #3E3E3E;
  border-radius: 0; }
.modal-content textarea.form-textarea {
  min-height: 300px; }
.modal-content .form-actions {
  width: 100%;
  overflow: hidden;
  margin-top: 30px; }
.modal-content .form-submit,
.modal-content input[type="submit"] {
  float: right;
  width: 200px;
  background-color: #B4B4B4;
  border: 1px solid #B4B4B4;
  color: #2B2A2F;
  border-radius: 0;
  padding: 8px 15px 5px 15px; }
  .modal-content .form-submit:hover, .modal-content .form-submit:active, .modal-content .form-submit:focus,
  .modal-content input[type="submit"]:hover,
  .modal-content input[type="submit"]:active,
  .modal-content input[type="submit"]:focus {
    color: #2B2A2F;
    background-color: #8e8e8e; }
.modal-content .form-item-mail {
  width: 50%;
  float: left;
  padding-right: 15px; }
  @media (max-width: 991px) {
    .modal-content .form-item-mail {
      width: 100%;
      padding-right: 0;
      margin-bottom: 15px; } }
.modal-content .form-item-message {
  width: 50%;
  float: right;
  padding-left: 15px; }
  @media (max-width: 991px) {
    .modal-content .form-item-message {
      width: 100%;
      padding-left: 0; } }

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on June 14, 2016 */
@font-face {
  font-family: 'gotham_bookregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham_book-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham_book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_blackregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-black-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_boldregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-bold-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_lightregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-light-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-medium-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@media (min-width: 769px) {
  .faciimg-wrapper {
    max-width: 400px; } }
.faciimg-wrapper .faciimg {
  width: 33.33%;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  float: left; }
  .faciimg-wrapper .faciimg > img {
    display: inline-block; }

.faciimg {
  position: relative;
  margin-bottom: 8px; }
  .faciimg .text-tooltip {
    display: none;
    position: absolute;
    bottom: 7px;
    width: 120px;
    left: 50%;
    margin-left: -60px; }
  .faciimg:hover {
    cursor: pointer; }
  .faciimg:hover .text-tooltip {
    display: block; }
  .faciimg.-img01 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-01.png) transparent no-repeat center top; }
  .faciimg.-img01:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-01-hover.png) transparent no-repeat center top; }
  .faciimg.-img02 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-02.png) transparent no-repeat center top; }
  .faciimg.-img02:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-02-hover.png) transparent no-repeat center top; }
  .faciimg.-img03 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-03.png) transparent no-repeat center 13px; }
  .faciimg.-img03:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-03-hover.png) transparent no-repeat center 13px; }
  .faciimg.-img04 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-04.png) transparent no-repeat center top; }
  .faciimg.-img04:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-04-hover.png) transparent no-repeat center top; }
  .faciimg.-img05 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-05.png) transparent no-repeat center top; }
  .faciimg.-img05:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-05-hover.png) transparent no-repeat center top; }
  .faciimg.-img06 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-06.png) transparent no-repeat center top; }
  .faciimg.-img06:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-06-hover.png) transparent no-repeat center top; }
  .faciimg.-img06 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-06.png) transparent no-repeat center top; }
  .faciimg.-img06:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-06-hover.png) transparent no-repeat center top; }
  .faciimg.-img07 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-07.png) transparent no-repeat center 15px; }
  .faciimg.-img07:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-07-hover.png) transparent no-repeat center 15px; }
  .faciimg.-img08 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-08.png) transparent no-repeat center 12px; }
  .faciimg.-img08:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-08-hover.png) transparent no-repeat center 12px; }
  .faciimg.-img09 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-09.png) transparent no-repeat center top; }
  .faciimg.-img09:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-09-hover.png) transparent no-repeat center top; }
  .faciimg.-img10 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-10.png) transparent no-repeat center top; }
  .faciimg.-img10:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-10-hover.png) transparent no-repeat center top; }
  .faciimg.-img11 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-11.png) transparent no-repeat center top; }
  .faciimg.-img11:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-11-hover.png) transparent no-repeat center top; }
  .faciimg.-img12 {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-12.png) transparent no-repeat center top; }
  .faciimg.-img12:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/faci-12-hover.png) transparent no-repeat center top; }

body {
  color: #3E3E3E;
  font-size: 13px;
  font-family: 'gotham_lightregular'; }

.menu-wrap {
  background-color: transparent;
  border-bottom: 0;
  text-align: center;
  top: 13%; }

#main-menu {
  float: none; }
  #main-menu a {
    color: #FFFFFF; }
  #main-menu li:hover > a,
  #main-menu a:hover {
    color: #ED932D; }

.article__parallax {
  border-left: 0;
  border-right: 0; }

.headline__description.-since {
  margin-top: 150px;
  margin-bottom: 80px; }

.flexbox__item.-bottom {
  vertical-align: bottom; }

.btn.btn-transparent {
  background-color: transparent;
  border: 1px solid #B4B4B4;
  border-radius: 0;
  padding: 8px 15px 5px 15px;
  color: #3E3E3E; }
  .btn.btn-transparent:hover, .btn.btn-transparent:active, .btn.btn-transparent:focus {
    background-color: #B4B4B4; }
  .btn.btn-transparent.-darkbg {
    border: 1px solid #B4B4B4;
    color: #E1E2E5; }
    .btn.btn-transparent.-darkbg:hover, .btn.btn-transparent.-darkbg:active, .btn.btn-transparent.-darkbg:focus {
      color: #2B2A2F;
      background-color: #B4B4B4; }
  .btn.btn-transparent.-orange {
    border: 1px solid #ED932D;
    color: #3E3E3E; }
    .btn.btn-transparent.-orange:hover, .btn.btn-transparent.-orange:active, .btn.btn-transparent.-orange:focus {
      color: #2B2A2F;
      background-color: #ED932D; }
  .btn.btn-transparent.-orange._invert {
    color: #AEAFB5; }
    .btn.btn-transparent.-orange._invert:hover, .btn.btn-transparent.-orange._invert:active, .btn.btn-transparent.-orange._invert:focus {
      color: #2B2A2F;
      background-color: #ED932D; }

.social-gang {
  margin-bottom: 30px !important; }
  .social-gang > li {
    display: inline-block;
    padding: 0 10px; }
  .social-gang > li > a {
    display: block;
    width: 52px;
    height: 52px;
    text-indent: -999em;
    overflow: hidden; }
  .social-gang > li > a.fb {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/fb.png) transparent no-repeat center; }
    .social-gang > li > a.fb:hover {
      background: url(/sites/all/themes/parallax_zymphonies_theme/images/fb-hover.png) transparent no-repeat center; }
  .social-gang > li > a.ig {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/ig.png) transparent no-repeat center; }
    .social-gang > li > a.ig:hover {
      background: url(/sites/all/themes/parallax_zymphonies_theme/images/ig-hover.png) transparent no-repeat center; }
  .social-gang > li > a.tw {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/tw.png) transparent no-repeat center; }
    .social-gang > li > a.tw:hover {
      background: url(/sites/all/themes/parallax_zymphonies_theme/images/tw-hover.png) transparent no-repeat center; }

/*# sourceMappingURL=zoxo.css.map */
