/************************\
	Color Template
\************************/
.textLightWhiteBg {
  color: #B4B4B4; }

.small-text {
  font-size: 0.8em; }

.text-huge {
  font-size: 3em;
  font-family: 'gotham_lightregular'; }

.text-imgsection {
  color: #666; }

.text-left {
  text-align: left; }

.text-floatmiddle {
  line-height: 5em; }

.text-modal {
  color: #AEAFB5; }

.text-bright {
  color: #E1E2E5; }

._text-grey {
  color: #3E3E3E; }
  ._text-grey:hover {
    color: #3E3E3E; }

.text-bright {
  color: #E1E2E5; }
  .text-bright:hover {
    color: #E1E2E5; }

._capital {
  text-transform: uppercase; }

._text-center {
  text-align: center; }

@media (min-width: 769px) {
  ._text-right {
    text-align: right; } }

@media (max-width: 768px) {
  ._textcenter-768px {
    text-align: center; } }

._pull-left {
  float: left; }

._margin-right {
  margin-right: 30px !important; }

.article__header.-rooms {
  height: 450px; }

.article__header--page.two-thirds-height .ct-wrapper .inner {
  padding-bottom: 30px; }

.ct-wrapper {
  display: table;
  width: 100%; }
  .ct-wrapper > .inner {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .ct-wrapper > .inner {
        display: table-cell;
        width: 50%;
        position: relative;
        vertical-align: top; } }
  @media (min-width: 768px) {
    .ct-wrapper > .inner.-middle {
      vertical-align: middle; } }
  @media (max-width: 767px) {
    .ct-wrapper > .inner.-left {
      float: left; } }
  @media (min-width: 768px) {
    .ct-wrapper > .inner.-left {
      padding-right: 25px; } }
  @media (min-width: 992px) {
    .ct-wrapper > .inner.-left p {
      padding-left: 200px; } }
  @media (max-width: 767px) {
    .ct-wrapper > .inner.-right {
      float: left; } }
  @media (min-width: 768px) {
    .ct-wrapper > .inner.-right {
      padding-left: 25px; } }
  @media (min-width: 992px) {
    .ct-wrapper > .inner.-right p {
      padding-right: 200px; } }
  .ct-wrapper > .inner.-center {
    width: 100%; }
  .ct-wrapper > .inner > h3 {
    margin-bottom: 20px; }
  .ct-wrapper > .inner > p {
    margin-bottom: 30px; }

@media (min-width: 768px) {
  .inner-wrapper > .btn.-keepright {
    position: absolute;
    bottom: 0;
    right: 25px; } }
.inner-wrapper > .btn.-keepleft {
  position: absolute;
  bottom: 0;
  left: 25px; }

.desc-section {
  display: block;
  overflow: hidden;
  padding: 100px 50px;
  margin-bottom: 50px; }
  .desc-section.-facilities {
    height: auto;
    padding: 0 15px; }
    @media (min-width: 769px) {
      .desc-section.-facilities {
        padding: 100px 50px 50px 50px; } }
  .desc-section.-reservation {
    max-width: 1148px;
    margin: 0 auto 50px auto;
    height: auto; }
    @media (max-width: 768px) {
      .desc-section.-reservation {
        padding: 0 15px; } }
  .desc-section.-findus {
    height: auto; }

.reservation-content {
  display: block; }

.findus-content h3 {
  margin-bottom: 30px; }

.button-box {
  text-align: justify;
  max-width: 310px;
  margin: 60px auto 0 auto; }
  .button-box > .btn {
    width: 120px;
    float: left;
    margin: 0; }
  .button-box > .btn + .btn {
    float: right; }

.footer {
  background-color: #272727;
  border-top: 5px solid #B4B4B4;
  padding: 50px 0;
  text-align: center; }
  .footer p {
    color: #aaa;
    margin-top: 30px;
    margin-bottom: 0; }
  .footer a {
    color: #aaa; }
  .footer a:hover {
    color: #ED932D; }

ul.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0; }

.footer-listwrapper {
  display: block;
  max-width: 625px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.footer-list {
  display: block;
  vertical-align: top;
  padding: 0 30px;
  float: left;
  width: 25%; }
  .footer-list h4,
  .footer-list ul > li {
    text-align: left;
    line-height: 16px; }
  .footer-list h4 {
    color: #555;
    margin-bottom: 10px; }
  .footer-list ul > li a {
    color: #aaa;
    font-size: 12px; }
  .footer-list ul > li a:hover {
    color: #ED932D; }

.booking-link {
  display: block;
  max-width: 960px;
  width: 100%;
  margin: 0 auto 30px auto; }
  .booking-link ul > li {
    display: inline-block; }
  .booking-link ul > li > a {
    display: block;
    overflow: hidden;
    text-indent: -999em; }
  .booking-link ul > li.agoda > a {
    background: url(../images/Agoda.png) transparent no-repeat center;
    background-size: contain;
    width: 120px;
    height: 48px;
    margin-right: 50px; }
    .booking-link ul > li.agoda > a:hover {
      background: url(../images/Agoda-A.png) transparent no-repeat center;
      background-size: contain; }
  .booking-link ul > li.tripadvisor > a {
    background: url(../images/Trip.png) transparent no-repeat center;
    background-size: contain;
    width: 210px;
    height: 48px;
    margin-right: 50px; }
    .booking-link ul > li.tripadvisor > a:hover {
      background: url(../images/Trip-A.png) transparent no-repeat center;
      background-size: contain; }
  .booking-link ul > li.booking > a {
    background: url(../images/Booking.png) transparent no-repeat center;
    background-size: contain;
    width: 192px;
    height: 41px;
    margin-right: 50px; }
    .booking-link ul > li.booking > a:hover {
      background: url(../images/Booking-A.png) transparent no-repeat center;
      background-size: contain; }
  .booking-link ul > li.hostelworld > a {
    background: url(../images/Hostelworld.png) transparent no-repeat center;
    background-size: contain;
    width: 222px;
    height: 45px; }
    .booking-link ul > li.hostelworld > a:hover {
      background: url(../images/Hostelworld-A.png) transparent no-repeat center;
      background-size: contain; }

.modal-content button.close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 999; }
.modal-content button.close {
  border: none;
  width: 33px;
  height: 33px;
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/symbols.png) transparent no-repeat 1px 0;
  background-size: 174px; }
  .modal-content button.close:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/symbols.png) transparent no-repeat -43px 0;
    background-size: 174px; }
.modal-content .modal-content button.close > span {
  font-size: 0;
  line-height: 0; }

.modal-title {
  font-size: 15px;
  font-family: "gotham_lightregular"; }

.modal-body {
  font-size: 11px;
  line-height: 13px;
  overflow: hidden; }
  .modal-body.slide-modal {
    padding: 0; }
  .modal-body.text-modal {
    padding: 60px 15px 15px 15px; }
    @media (min-width: 769px) {
      .modal-body.text-modal {
        padding: 60px 100px 200px 100px; } }
  .modal-body.text-modal > h3 {
    margin-bottom: 15px; }
  .modal-body.textSlide-modal {
    padding: 60px 15px 100px 15px; }
    @media (min-width: 769px) {
      .modal-body.textSlide-modal {
        padding: 100px 100px 100px 100px; } }
  .modal-body.textSlide-modal > h2 {
    margin-bottom: 15px; }
  .modal-body.map-modal {
    padding: 60px 15px 15px 15px; }
    @media (min-width: 769px) {
      .modal-body.map-modal {
        padding: 100px 100px 100px 100px; } }
  .modal-body.form-modal {
    padding: 60px 15px 15px 15px; }
    @media (min-width: 769px) {
      .modal-body.form-modal {
        padding: 60px 100px 100px 100px; } }
  .modal-body > .modal-label {
    margin-bottom: 100px; }

.slide-modal .modal-title {
  margin-bottom: 30px; }
  @media (min-width: 769px) {
    .slide-modal .modal-title {
      margin-left: 100px; } }

.textSlide-modal .lSSlideWrapper {
  padding-bottom: 30px; }
  @media (max-width: 768px) {
    .textSlide-modal .lSSlideWrapper {
      padding-bottom: 15px; } }
.textSlide-modal .lSAction {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 0; }
.textSlide-modal .lSPager {
  float: right;
  width: 250px; }

.modal-content {
  border-radius: 0;
  color: #AEAFB5;
  overflow: hidden; }

.modal-description {
  margin-top: 25px; }
  @media (min-width: 769px) {
    .modal-description {
      width: 50%;
      float: right;
      padding-left: 30px; } }
  .modal-description .-cafe {
    margin-bottom: 60px; }

.slide-modal .lSAction > .lSNext {
  right: 120px; }
.slide-modal .lSAction > .lSPrev {
  left: 120px; }

@media (max-width: 768px) {
  .slide-modal .lSSlideOuter {
    margin-bottom: 30px; } }
@media (min-width: 769px) {
  .slide-modal .lSSlideOuter {
    width: 50%;
    float: left; } }
.slide-modal .lSSlideOuter li > img {
  width: 100%;
  border-right: 1px solid #3E3E3E;
  border-top: 1px solid #3E3E3E;
  border-bottom: 1px solid #3E3E3E; }

.lSSlideWrapper {
  overflow: visible; }

.lSSlideOuter .lSPager.lSpg {
  line-height: 30px; }

.lSAction > a {
  top: auto;
  margin-top: 0;
  background-image: url("../img/controls.svg"); }

.lSSlideOuter.vertical .lSAction > a {
  height: 20px; }

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -35px; }

.lSSlideOuter .lSPager.lSpg > li {
  padding: 0 8px; }

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #3E3E3E;
  width: 12px;
  height: 12px; }

.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #E1E2E5; }

.title-outsideSlider {
  margin-bottom: 20px; }
  @media (min-width: 769px) {
    .title-outsideSlider {
      padding-left: 100px; } }

.modal-body.video-modal {
  padding: 0;
  width: 900px;
  height: 560px; }
  .modal-body.video-modal > .video-iframe-wrapper {
    width: 675px;
    height: 100%;
    float: left; }
  .modal-body.video-modal > .video-iframe-wrapper > .video-iframe {
    height: 100%; }
  .modal-body.video-modal > .video-iframe-wrapper > .video-iframe > iframe {
    height: 100% !important; }
  .modal-body.video-modal .vertical {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    height: 100%; }
    .modal-body.video-modal .vertical > .lSSlideWrapper {
      height: 430px !important;
      overflow: hidden;
      padding-top: 50px; }
    .modal-body.video-modal .vertical > .lSPager {
      display: none; }
    .modal-body.video-modal .vertical .lSAction .lSPrev {
      top: 0; }
    .modal-body.video-modal .vertical .lSAction .lSNext {
      bottom: 0; }
  .modal-body.video-modal .video-thumbnail {
    height: auto !important;
    margin-bottom: 55px !important; }

.modal-dialog.-facilities .overflow-box {
  color: #5A5B5E; }
@media (min-width: 992px) {
  .modal-dialog.-facilities {
    width: 1280px; } }
@media (min-width: 992px) {
  .modal-dialog.-facilities.-sevices {
    width: 900px; } }
.modal-dialog.-facilities .modal-content {
  background-color: #FFF;
  border: none; }
.modal-dialog.-facilities .modal-body.slide-modal {
  padding: 0; }
.modal-dialog.-facilities .group-slide {
  width: 100%;
  float: left; }
@media (min-width: 769px) {
  .modal-dialog.-facilities .slide-modal .lSSlideOuter {
    width: 640px;
    height: 400px; } }
.modal-dialog.-facilities .slide-modal .lSSlideOuter li > img {
  border: none; }
@media (min-width: 769px) {
  .modal-dialog.-facilities .modal-description {
    width: 640px;
    float: right;
    padding-left: 35px; } }

.facilities-switch-page {
  width: 640px;
  position: absolute;
  top: 200px;
  margin-top: -21px; }
  .facilities-switch-page .lSPager {
    display: none; }
  .facilities-switch-page > .lSAction > .lSPrev {
    left: 25px; }
  .facilities-switch-page > .lSAction > .lSNext {
    right: 25px; }

.free-services {
  width: 100%;
  float: left;
  margin-top: 70px;
  margin-bottom: 50px; }
  .free-services > div {
    box-sizing: border-box;
    width: 640px; }
  .free-services > .left {
    padding-right: 35px; }
  .free-services > .right {
    padding-left: 35px; }
  .free-services h3 {
    color: #5A5B5E;
    margin-bottom: 15px; }
  .free-services ul > li {
    line-height: 20px; }

.modal-content input.form-text,
.modal-content textarea.form-textarea {
  border-color: #3E3E3E;
  background-color: #3E3E3E;
  border-radius: 0; }
.modal-content textarea.form-textarea {
  min-height: 300px; }
.modal-content .form-actions {
  width: 100%;
  overflow: hidden;
  margin-top: 30px; }
.modal-content .form-submit,
.modal-content input[type="submit"] {
  float: right;
  width: 200px;
  background-color: #B4B4B4;
  border: 1px solid #B4B4B4;
  color: #2B2A2F;
  border-radius: 0;
  padding: 8px 15px 5px 15px; }
  .modal-content .form-submit:hover, .modal-content .form-submit:active, .modal-content .form-submit:focus,
  .modal-content input[type="submit"]:hover,
  .modal-content input[type="submit"]:active,
  .modal-content input[type="submit"]:focus {
    color: #2B2A2F;
    background-color: #8e8e8e; }
.modal-content .form-item-mail {
  width: 50%;
  float: left;
  padding-right: 15px; }
  @media (max-width: 991px) {
    .modal-content .form-item-mail {
      width: 100%;
      padding-right: 0;
      margin-bottom: 15px; } }
.modal-content .form-item-message {
  width: 50%;
  float: right;
  padding-left: 15px; }
  @media (max-width: 991px) {
    .modal-content .form-item-message {
      width: 100%;
      padding-left: 0; } }

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on June 14, 2016 */
@font-face {
  font-family: 'gotham_bookregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham_book-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham_book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_blackregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-black-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_boldregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-bold-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_lightregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-light-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-medium-webfont.woff2") format("woff2"), url("/sites/all/themes/parallax_zymphonies_theme/fonts/gotham-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.facilities-content {
  display: block;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px; }
  .facilities-content h3 {
    margin-bottom: 100px; }
  @media (min-width: 521px) and (max-width: 1200px) {
    .facilities-content {
      margin: 50px; } }
  @media (max-width: 520px) {
    .facilities-content {
      margin: 50px 15px; } }
  @media (max-width: 768px) {
    .facilities-content {
      padding: 50px 25px; } }
  @media (min-width: 992px) {
    .facilities-content {
      padding: 0 6.25%; } }
  @media (max-width: 520px) {
    .facilities-content {
      padding: 25px 0; } }

.faciimg-wrapper {
  width: 100%;
  float: left;
  text-align: center; }
  .faciimg-wrapper .faciitem {
    display: inline-block;
    width: 150px;
    margin-right: 60px;
    float: left;
    text-align: center; }
    .faciimg-wrapper .faciitem.-last {
      margin-right: 0; }
  .faciimg-wrapper .faciimg,
  .faciimg-wrapper .faci-img {
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-size: contain !important;
    vertical-align: middle;
    float: left; }
  .faciimg-wrapper.line2 {
    width: auto;
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto; }

.faciimg-wrapper.-line2 {
  margin-top: 100px; }
  .faciimg-wrapper.-line2 .faciitem {
    float: none; }
    .faciimg-wrapper.-line2 .faciitem.-last {
      margin-right: 35px; }

.btn.-facilities {
  float: right;
  margin-top: 100px;
  margin-right: 34px; }

.faci-img {
  position: relative;
  margin-bottom: 8px;
  vertical-align: middle;
  text-align: center; }
  .faci-img > .image {
    width: 150px;
    height: 150px; }
  .faci-img:hover {
    cursor: pointer; }
  .faci-img:hover > .text-tooltip {
    color: #ED932D; }
  .faci-img:hover > .text-tooltip, .faci-img:hover > .explore-facilities {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear; }

.text-tooltip {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 176px;
  left: 50%;
  margin-left: -86px;
  margin-bottom: -80px;
  font-size: 18px;
  line-height: 24px;
  top: -37px;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear; }
  .text-tooltip.-twiceline {
    top: -60px; }

.explore-facilities {
  display: block;
  visibility: hidden;
  transition: display 2px;
  position: absolute;
  bottom: -35px;
  width: 100%;
  left: 0;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear; }

.faci-img.-img01 > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/24-hours.png) transparent no-repeat center;
  background-size: contain;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img01:hover > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/24-hours-a.png) transparent no-repeat center;
  background-size: contain;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img02 > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/garden-area.png) transparent no-repeat center;
  background-size: contain;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }
.faci-img.-img02:hover > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/garden-area-a.png) transparent no-repeat center;
  background-size: contain;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out; }
.faci-img.-img03 > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/kitchen.png) transparent no-repeat center;
  background-size: 120px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img03:hover > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/kitchen-a.png) transparent no-repeat center;
  background-size: 120px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img04 > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/parking.png) transparent no-repeat center;
  background-size: contain;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img04:hover > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/parking-a.png) transparent no-repeat center;
  background-size: contain;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img05 > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/cafe.png) transparent no-repeat center;
  background-size: 120px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img05:hover > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/cafe-a.png) transparent no-repeat center;
  background-size: 120px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img06 > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/free-services.png) transparent no-repeat center;
  background-size: 120px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img06:hover > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/free-services-a.png) transparent no-repeat center;
  background-size: 120px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img07 > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/small-fee-based.png) transparent no-repeat center;
  background-size: 100px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }
.faci-img.-img07:hover > .image {
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/small-fee-based-a.png) transparent no-repeat center;
  background-size: 100px;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear; }

button.close {
  opacity: 1;
  border: none;
  width: 33px;
  height: 33px;
  background: url(/sites/all/themes/parallax_zymphonies_theme/images/symbols.png) transparent no-repeat 1px 0;
  background-size: 174px; }
  button.close:hover {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/symbols.png) transparent no-repeat -43px 0;
    background-size: 174px; }
  button.close > span {
    font-size: 0;
    line-height: 0; }

.btn.btn-transparent {
  background-color: transparent;
  border: 2px solid #B4B4B4;
  border-radius: 0;
  padding: 8px 15px 5px 15px;
  color: #3E3E3E; }
  .btn.btn-transparent:hover, .btn.btn-transparent:active, .btn.btn-transparent:focus {
    background-color: #B4B4B4; }
  .btn.btn-transparent.-darkbg {
    border: 2px solid #B4B4B4;
    color: #E1E2E5; }
    .btn.btn-transparent.-darkbg:hover, .btn.btn-transparent.-darkbg:active, .btn.btn-transparent.-darkbg:focus {
      color: #2B2A2F;
      background-color: #B4B4B4; }
  .btn.btn-transparent.-orange {
    border: 2px solid #ED932D;
    color: #3E3E3E; }
    .btn.btn-transparent.-orange:hover, .btn.btn-transparent.-orange:active, .btn.btn-transparent.-orange:focus {
      color: #2B2A2F;
      background-color: #ED932D; }
  .btn.btn-transparent.-orange.-booking {
    width: 140px; }
  .btn.btn-transparent.-orange._invert {
    color: #AEAFB5; }
    .btn.btn-transparent.-orange._invert:hover, .btn.btn-transparent.-orange._invert:active, .btn.btn-transparent.-orange._invert:focus {
      color: #2B2A2F;
      background-color: #ED932D; }
  .btn.btn-transparent.-modal {
    font-size: 14px;
    line-height: 16px;
    padding-top: 6px;
    padding-bottom: 5px; }
  .btn.btn-transparent.-movies {
    border-radius: 20px;
    padding: 3px 30px 0 50px;
    font-size: 0.9em;
    color: #B4B4B4;
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/play.svg) transparent no-repeat 30px; }
    .btn.btn-transparent.-movies:hover {
      color: #3e3e3e;
      background: url(/sites/all/themes/parallax_zymphonies_theme/images/play-hover.svg) #B4B4B4 no-repeat 30px; }

/******************************************\
	Select room button
\******************************************/
.btn.btn-transparent._modaltitle {
  color: #AEAFB5;
  max-width: 200px;
  margin-top: 0px;
  margin-bottom: 5px;
  display: block;
  font-size: 1em;
  padding: 3px 15px 0px 15px; }
  .btn.btn-transparent._modaltitle:hover, .btn.btn-transparent._modaltitle:active, .btn.btn-transparent._modaltitle:focus, .btn.btn-transparent._modaltitle.active {
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #ED932D; }

.btn-noborder,
.btn-facilities {
  background-color: transparent;
  color: #AFB0B3;
  border: none;
  padding: 3px 0;
  display: block;
  width: auto;
  text-align: left; }
  .btn-noborder:hover, .btn-noborder.active,
  .btn-facilities:hover,
  .btn-facilities.active {
    background-color: transparent;
    color: #ED932D; }

/******************************************\
	booking button
\******************************************/
.bookingbtn-group {
  float: left;
  position: relative; }
  .bookingbtn-group .btn {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0; }

.bookingbtn-group.-modal {
  margin-top: 15px; }
  @media (min-width: 769px) {
    .bookingbtn-group.-modal {
      margin-top: -38px; } }

.bookingbtn-group.-modal {
  margin-top: 15px; }
  @media (min-width: 769px) {
    .bookingbtn-group.-modal {
      margin-top: -38px; } }

.subbtn-group {
  width: 175px;
  position: absolute;
  top: 0;
  left: 138px;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: transparent; }
  .subbtn-group.-show {
    display: block; }
  .subbtn-group.-hide {
    display: none; }
  .subbtn-group .btn.btn-transparent.-orange {
    margin-right: 0; }
    .subbtn-group .btn.btn-transparent.-orange._subbutton {
      width: 100%;
      padding: 5px 15px 4px 15px;
      font-family: 'gotham_mediumregular';
      font-size: 0.9em;
      margin-bottom: -2px; }
    .subbtn-group .btn.btn-transparent.-orange.-modal._subbutton {
      padding: 3px 15px 2px 15px; }

@media (min-width: 769px) {
  .subbtn-group.-modal {
    top: -38px; } }

.overflow-box {
  height: 130px;
  overflow-y: scroll;
  margin-top: 25px;
  margin-bottom: 30px; }
  .overflow-box.-modalrooms {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 140px;
    height: 133px; }
  .overflow-box.-modal {
    height: 190px; }
  .overflow-box._300px {
    height: 300px;
    margin-bottom: 0; }

.switch-content-wrapper .close {
  position: absolute;
  top: -60px;
  right: -30px; }

.webform-client-form {
  position: relative;
  padding-bottom: 180px; }

.webform-component--name, .webform-component--email, .webform-component--subject {
  float: left;
  padding-right: 55%;
  margin-bottom: 0;
  margin-top: 10px; }
  .webform-component--name .form-text, .webform-component--email .form-text, .webform-component--subject .form-text {
    padding: 3px; }
.webform-component--name {
  margin-top: 28px; }
.webform-component--subject {
  margin-bottom: 15px; }
.webform-component--description {
  width: 50%;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0; }
  .webform-component--description .form-textarea {
    height: 170px; }

.webform-submit.form-submit {
  width: auto;
  float: right;
  background-color: transparent;
  border: 2px solid #B4B4B4;
  padding: 8px 15px 5px 15px;
  color: #3E3E3E; }
  .webform-submit.form-submit:hover {
    background-color: #B4B4B4; }

body {
  color: #3E3E3E;
  font-size: 13px;
  font-family: 'gotham_lightregular'; }

h1, h2, h3, h4 {
  font-family: 'gotham_mediumregular'; }

.menu-wrap {
  background-color: transparent;
  border-bottom: 0;
  text-align: center;
  top: 13%; }

#main-menu {
  float: none; }
  #main-menu a {
    color: #FFFFFF;
    font-family: 'gotham_lightregular'; }
  #main-menu li:hover > a,
  #main-menu a:hover {
    color: #ED932D; }

.article__parallax {
  border-left: 0;
  border-right: 0; }

.headline__description.-since {
  margin-top: 150px;
  margin-bottom: 80px; }

.flexbox__item.-bottom {
  vertical-align: bottom; }

/*
** Social-gang
*/
.social-gang {
  margin-bottom: 30px !important;
  text-align: left;
  margin-top: 70px; }
  .social-gang > li {
    display: inline-block;
    padding: 0 10px;
    margin-left: 30px;
    margin-right: 30px; }
  .social-gang > li > a {
    display: block;
    width: 60px;
    height: 60px;
    text-indent: 999em;
    overflow: hidden;
    background-size: 100% auto !important; }
  .social-gang > li > a.facebook {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/Facebook.png) transparent no-repeat; }
    .social-gang > li > a.facebook:hover {
      background: url(/sites/all/themes/parallax_zymphonies_theme/images/Facebook-A.png) transparent no-repeat; }
  .social-gang > li > a.instagram {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/Instagram.png) transparent no-repeat; }
    .social-gang > li > a.instagram:hover {
      background: url(/sites/all/themes/parallax_zymphonies_theme/images/Instagram-A.png) transparent no-repeat; }
  .social-gang > li > a.line {
    background: url(/sites/all/themes/parallax_zymphonies_theme/images/Line.png) transparent no-repeat; }
    .social-gang > li > a.line:hover {
      background: url(/sites/all/themes/parallax_zymphonies_theme/images/Line-A.png) transparent no-repeat; }

/*# sourceMappingURL=zoxo.css.map */
