.small-text {
  font-size: 0.8em; }

.text-imgsection {
  color: #666; }

.text-left {
  text-align: left; }

._text-grey {
  color: #999999; }
  ._text-grey:hover {
    color: #999999; }

._capital {
  text-transform: uppercase; }

._text-center {
  text-align: center; }

@media (min-width: 769px) {
  ._text-right {
    text-align: right; } }

@media (max-width: 768px) {
  ._textcenter-768px {
    text-align: center; } }

.ct-wrapper > .inner {
  width: 50%; }
  @media (max-width: 768px) {
    .ct-wrapper > .inner {
      width: 100%; } }
.ct-wrapper > .inner.-center {
  width: 100%; }
.ct-wrapper > .inner.-left {
  float: left; }
  @media (min-width: 769px) {
    .ct-wrapper > .inner.-left {
      padding-right: 25px; } }
.ct-wrapper > .inner.-right {
  float: right; }
  @media (min-width: 769px) {
    .ct-wrapper > .inner.-right {
      padding-left: 25px; } }
.ct-wrapper > .inner > h3 {
  margin-bottom: 20px; }
.ct-wrapper > .inner > p {
  margin-bottom: 30px; }

.inner-wrapper {
  display: inline-block; }

.desc-section {
  display: block;
  overflow: hidden;
  margin-top: -50px; }
  .desc-section.-facilities {
    height: 800px; }
  .desc-section.-reservation {
    height: 700px;
    background: url(../images/keys.png) transparent no-repeat left center;
    background-size: auto 300px; }
  .desc-section.-findus {
    background: url(../images/clock.png) transparent no-repeat left center;
    background-size: auto 456px; }

.facilities-content {
  display: block;
  box-sizing: border-box;
  border: 5px solid #CCCCCC;
  max-width: 1200px;
  margin: 50px auto;
  overflow: hidden;
  padding: 50px; }
  @media (min-width: 521px) and (max-width: 1200px) {
    .facilities-content {
      margin: 50px; } }
  @media (max-width: 520px) {
    .facilities-content {
      margin: 50px 15px; } }
  @media (max-width: 768px) {
    .facilities-content {
      padding: 50px 25px; } }
  @media (min-width: 992px) {
    .facilities-content {
      padding: 4.28571% 8.57143%; } }
  @media (max-width: 520px) {
    .facilities-content {
      padding: 25px 0; } }

@media (min-width: 769px) {
  .faciimg-wrapper {
    max-width: 400px; } }
.faciimg-wrapper .faciimg {
  width: 33.33%;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  float: left; }
  .faciimg-wrapper .faciimg > img {
    display: inline-block; }

.footer {
  background-color: #666;
  border-bottom: 30px solid #555;
  padding: 50px 0;
  text-align: center; }

ul.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0; }

.footer-list {
  display: inline-block;
  vertical-align: top;
  padding: 0 30px; }
  .footer-list h4,
  .footer-list ul > li {
    text-align: left; }
  .footer-list h4 {
    color: #888; }
  .footer-list ul > li a {
    color: #aaa; }

.article__header.article__header--page.two-thirds-height {
  margin-top: -50px; }

.menu-wrap {
  background-color: transparent;
  border-bottom: 0;
  text-align: center; }

#main-menu {
  float: none; }
  #main-menu a {
    color: #FFFFFF; }

.article__parallax {
  border-left: 0;
  border-right: 0; }

.headline__description.-since {
  margin-top: 200px; }

.btn.btn-transparent {
  background-color: transparent;
  border: 1px solid #CCCCCC;
  border-radius: 0;
  padding: 8px 15px 5px 15px;
  color: #999999; }
  .btn.btn-transparent:hover, .btn.btn-transparent:active, .btn.btn-transparent:focus {
    background-color: #f1f1f1; }

/*# sourceMappingURL=zoxo.css.map */
