@import "component/variables.scss";
@import "component/helper.scss";
@import "component/image-section.scss";
@import "component/content-section.scss";
@import "component/footer.scss";
@import "component/modal.scss";
@import "component/contact.scss";
@import "component/font.scss";
@import "component/facilities-image.scss";

body {
	color: $color-1;
	font-size: 13px;
	font-family: 'gotham_lightregular';
}
h1, h2, h3, h4 {
	font-family: 'gotham_mediumregular';	
}

.menu-wrap {
	background-color: transparent;
	border-bottom: 0;
	text-align: center;
	top: 13%;
}

#main-menu {
	float: none;
	a {
		color: #FFFFFF;
	}
	li:hover > a,
	a:hover {
		color: $color-3;
	}
}

.menu-navigation-container {

}

// .article__parallax
.article__parallax {
	border-left: 0;
	border-right: 0;
}

// headline__description -since
.headline__description.-since {
	margin-top: 150px;
	margin-bottom: 80px;
}

.flexbox__item.-bottom {
	vertical-align: bottom;
}


// btn
.btn.btn-transparent {
	background-color: transparent;
	border: 2px solid $color-2;
	border-radius: 0;
	padding: 8px 15px 5px 15px;
	color: $color-1;
	&:hover, 
	&:active, 
	&:focus {
		background-color: $color-2;
	}

	&.-darkbg {
		border: 2px solid $color-2;
		color: $color-4;
		&:hover,
		&:active,
		&:focus {
			color: $color-7;
			background-color: $color-2;
		}
	}

	&.-orange {
		border: 2px solid $color-3;
		color: $color-1;
		&:hover,
		&:active,
		&:focus {
			color: $color-7;
			background-color: $color-3;
		}
	}
	&.-orange._invert {
		color: $color-5;
		&:hover,
		&:active,
		&:focus {
			color: $color-7;
			background-color: $color-3;
		}		
	}
}

.social-gang {
	margin-bottom: 30px !important;
	> li {
		display: inline-block;
		padding: 0 10px;
	}
	> li > a {
		display: block;
		width: 52px;
		height: 52px;
		text-indent: -999em;
		overflow: hidden;
	}
	> li > a.fb {
		background: url(#{$path}/fb.png) transparent no-repeat center;
		&:hover {
			background: url(#{$path}/fb-hover.png) transparent no-repeat center;
		}
	}
	> li > a.ig {
		background: url(#{$path}/ig.png) transparent no-repeat center;
		&:hover {
			background: url(#{$path}/ig-hover.png) transparent no-repeat center;
		}		
	}
	> li > a.tw {
		background: url(#{$path}/tw.png) transparent no-repeat center;
		&:hover {
			background: url(#{$path}/tw-hover.png) transparent no-repeat center;
		}		
	}
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
    height: 130px;
}
 
/* Track */
::-webkit-scrollbar-track { 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    // background: rgba(39,39,39,0.8);
    background: $color-2;
    display: block;
    width: 1px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    height: 12px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(39,39,39,0.4);
    height: 12px;
}