.modal-dialog.-facilities {

    .overflow-box {
        color: #5A5B5E;
    }

    @media (min-width: 992px) {
        width: 1280px;
    }
    &.-sevices {
        @media (min-width: 992px) {
            width: 900px;
        }
    }
    .modal-content {
        background-color: #FFF;
        border: none;
    }
    .modal-body.slide-modal {
        padding: 0;
    }
    .group-slide {
        width: 100%;
        float: left;
    }

    .slide-modal .lSSlideOuter {
        @media (min-width: 769px) {
            width: 640px;
            height: 400px;
        }
    }
    .slide-modal .lSSlideOuter li > img {
        border: none;
    }


    .modal-description {
        @media (min-width: 769px) {
            width: 640px;
            float: right;
            padding-left: 35px;
        }
    }

}

.facilities-switch-page {
    width: 640px;
    position: absolute;
    top: 200px;
    margin-top: -21px;

    .lSPager {
        display: none;
    }
    > .lSAction {
        > .lSPrev {
            left: 25px;
        }
        > .lSNext {
            right: 25px;
        }
    }
}

.free-services {
    width: 100%;
    float: left;
    margin-top: 70px;
    margin-bottom: 50px;
    > div {
        box-sizing: border-box;
        width: 640px;
    }
    > .left {
        padding-right: 35px;
    }
    > .right {
        padding-left: 35px;
    }
    h3 {
        color: #5A5B5E;
        margin-bottom: 15px;
    }
    ul > li {
        line-height: 20px;
    }
}
