.modal-content {
	//border: 1px solid $color-1;

	button.close {
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 999;
        border: none;
        width: 33px;
        height: 33px;
        background: url(#{$imagePath}/symbols.png) transparent no-repeat -43px 0;
        background-size: 174px;
		opacity: 0.5;
        &:hover,
		&:focus {
			background: url(#{$imagePath}/symbols.png) transparent no-repeat -43px 0;
			background-size: 174px;
			opacity: 1;
        }
    }
    .modal-content button.close > span {
        font-size: 0;
        line-height: 0;
    }
	.lSPager {
		display: none;
	}
}

#conditionModal {
	.modal-content .lSPager {
		display: block;
	}
}

.modal-title {
	font-size: 15px;
    font-family: 'gotham_lightregular'
}
.modal-body {
	font-size: 11px;
	line-height: 13px;
	&.slide-modal {
		padding: 0;
	}
	&.text-modal {
		@media (min-width: 769px) {
			padding: 60px 100px 200px 100px;
		}
		padding: 60px 15px 15px 15px;
	}
	&.text-modal > h3 {
		margin-bottom: 15px;
	}
	&.textSlide-modal {
		@media (min-width: 769px) {
			padding: 100px 100px 100px 100px;
		}
		padding: 60px 15px 100px 15px;
	}
	&.textSlide-modal > h2 {
		margin-bottom: 15px;
	}
	&.map-modal {
		@media (min-width: 769px) {
			padding: 100px 100px 100px 100px;
		}
		padding: 60px 15px 15px 15px;
	}
	&.form-modal {
		@media (min-width: 769px) {
			padding: 60px 100px 100px 100px;
		}
		padding: 60px 15px 15px 15px;
	}

	> .modal-label {
		margin-bottom: 100px;
	}

	overflow: hidden;
}

.modal-content {
	background-color: rgba(39, 39, 39, .93);
	border-radius: 0;
	color: $color-5;
	overflow: hidden;
}
.modal-description {
	margin-top: 25px;
	@media (min-width: 769px) {
		width: 50%;
		float: right;
		padding-left: 30px;
	}
	.-cafe {
		margin-bottom: 60px;
	}
}

.slide-modal {
	.group-slide > .lSSlideOuter {
		width: 450px;
		float: left;
	}
	.modal-title {
		@media (min-width: 769px) {
			margin-left: 100px;
		}
		margin-bottom: 30px;
	}
}

.title-outsideSlider {
	margin-bottom: 20px;
	@media (min-width: 769px) {
		padding-left: 100px;
	}
}
