.modal-body.video-modal {
    padding: 0;
    max-width: 900px;
    width: 100%;
    height: 560px;

    > .video-iframe-wrapper {
        width: 675px;
        height: 100%;
        float: left;
    }
    > .video-iframe-wrapper > .video-iframe {
        height: 100%;
    }
    > .video-iframe-wrapper > .video-iframe > iframe {
        height: 100% !important;
    }

    // sidebar
    .vertical {
        padding-top: 100px;
        padding-left: 25px;
        padding-right: 25px !important;
        padding-bottom: 50px;
        height: 100%;
        > .lSSlideWrapper {
            height: 430px !important;
        	overflow: hidden;
            padding-top: 50px;
        }
        > .lSPager {
            display: none;
        }
        .lSAction {
            .lSPrev {
                top: 0;
            }
            .lSNext {
                bottom: 0;
            }
        }
    }
    .video-thumbnail {
        height: auto !important;
        margin-bottom: 55px !important;
    }
    .video-title {
        text-align: center;
    }
}
